@charset "UTF-8";

$pc: 941px; //897px

@mixin pc {
  @media (min-width: ($pc)) {
    @content;
  }
}

// middle
$middle: 940px;

@mixin middle {
  @media (max-width: ($middle)) {
    @content;
  }
}


$sp: 610px; //896px

@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}