@charset "UTF-8";

@use 'mixin' as mixin;

// 数値まとめる $を使う
// :root {
//   --back-color: #020307;
//   --text-colur: #fff;
// }
$back-color: #020307;
$text-colur: #fff;

body {
  background-color: #020307;
  color: #fff;
}

@include mixin.pc {
  a:hover {
    // text-decoration: none;
    opacity: 0.7;
    transition: 0.3s;
  }

  .middle,
  .sp {
    display: none !important;
  }
}

// sp
@include mixin.middle {
  .pc {
    display: none !important;
  }
}

.flex {
  display: flex;
}

.site-main {
  padding-bottom: 100px;
}

.section:not(.section-hero)+.section {
  padding-top: 100px;
}

.headline__title {
  background-color: rgba(255, 255, 255, 0.15);
  text-align: center;
  font-size: 3.8rem;
  padding: 32px 0 30px;
  line-height: 1.4;
  letter-spacing: 5px;

  @include mixin.middle {
    padding-inline: 10px;
  }
}

.lower {
  padding-top: 100px;

  .headline__title {
    margin-top: 10px;
  }
}

/*============================
パンくず
============================*/

.breadcrumbs {
  padding-left: 30px;
  font-size: 12px;

  ol {
    display: inline-block;

    li {
      display: inline-block;
      vertical-align: middle;
      padding-top: 1px;
      color: #fff;
      letter-spacing: 0.1em;

      &:after {
        content: '>';
        padding: 4px 4px 0;
        display: inline-block;
        vertical-align: top;
      }

      &:last-of-type:after {
        content: '';
      }

      a {
        color: #fff;
      }

      &:last-of-type a span {
        text-decoration: none;
      }

      a span {
        display: inline-block;
        vertical-align: middle;
        padding-top: 1px;
        text-decoration: underline;
        text-underline-offset: 5px;
        font-weight: 300;
        font-style: normal;
        white-space: nowrap;
        letter-spacing: 0.1em;
      }
    }
  }
}

/*============================
#footer
============================*/

.site-footer {
  @include mixin.sp {
    .row {
      padding-inline: 0;
    }
  }
}

.footer {
  padding: 50px 0 50px;

  &-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;

    @include mixin.middle {
      flex-direction: column;
      gap: 15px;
    }
  }

  &__logo {
    max-width: 295px;
  }

  &__name {
    font-weight: bold;
    font-size: 1.8rem;
    margin-top: 10px;
    display: block;
  }

  .address {
    font-style: normal;
    margin-top: 5px;

    @include mixin.sp {
      margin-top: 10px;
    }
  }

  // &-tel {
  //   background-color: rgba(255, 255, 255, 0.1);
  //   border-radius: 5px;
  //   border: 1px solid #fff;
  //   height: fit-content;
  //   text-align: center;
  //   padding: 30px;
  //   line-height: 1;

  //   @include mixin.sp {
  //     width: 90%;
  //     margin-top: 15px;
  //   }
  // }

  // .tel {
  //   font-family: "Inter", sans-serif;
  //   font-weight: bold;
  //   font-size: 4rem;
  //   margin-top: 15px;
  //   display: block;

  //   @include mixin.sp {
  //     font-size: 3.4rem;
  //     white-space: nowrap;
  //   }

  //   &::before {
  //     display: inline-block;
  //     content: "";
  //     background-image: url(../img/common/tel.svg);
  //     background-repeat: no-repeat;
  //     background-position: center;
  //     background-size: contain;
  //     width: 30px;
  //     height: 32px;
  //   }
  // }

  &-list {
    display: flex;
    justify-content: center;
    padding-top: 100px;

    @include mixin.sp {
      flex-wrap: wrap;
    }
  }

  &-list+&-list {
    padding-top: 20px;

    @include mixin.sp {
      padding-top: 0;
    }
  }

  &__item {
    display: inline-block;
    font-size: 1.4rem;

    // @include mixin.pc {
    border-right: 1px solid #fff;

    &:last-of-type {
      border-right: none;
    }

    // }

    @include mixin.sp {
      border-right: none;
      border-top: 1px solid rgba(255, 255, 255, 0.25);
      position: relative;

      &:last-of-type {
        border-bottom: 1px solid rgba(255, 255, 255, 0.25);
      }

      // SPのみ >
      &::after {
        position: absolute;
        margin: auto;
        content: "";
        vertical-align: middle;
        width: 9px;
        height: 9px;
        border-top: 1px solid #fff;
        border-right: 1px solid #fff;
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        right: 15px;
      }
    }

    a {
      display: block;
      padding: 5px 15px;
      line-height: 1;

      @include mixin.sp {
        padding-top: 20px;
        padding-bottom: 20px;
      }
    }

    @include mixin.sp {
      width: 100%;
    }
  }

  @include mixin.sp {
    &-list:first-of-type .footer__item:last-of-type {
      border-bottom: none;
    }
  }

  .copy {
    font-size: 1.1rem;
    text-align: center;
    padding-top: 50px;
  }
}

// new arrow
.page_top {
  cursor: pointer;
  transition: opacity 0.5s ease-out;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: fixed;
  bottom: 10%;
  right: 3%;
  display: inline-block;
  width: 60px;
  height: 60px;
  border: 1px solid #fff;
  border-radius: 50%;

  &::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    content: "";
    vertical-align: middle;
    left: 23px;
    top: 3px;
    width: 11px;
    height: 11px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: rotate(-45deg);
  }

  &.show {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }

  @include mixin.pc {
    &:hover {
      opacity: 0.7;
      transition: 0.3s;
    }
  }
}


// nav
/*__ header _______________________*/
.site-header {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 2;
  width: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 15px;
  padding-bottom: 15px;

  @include mixin.middle {
    padding-top: 10px;
  }

  .masthead {
    width: 100%;
    max-width: 1280px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    padding-inline: 20px;
    align-items: center;

    .brand-logo {
      max-width: 180px;
      width: 100%;
      position: relative;
      z-index: 2;
      line-height: 1;

      @include mixin.pc {
        &__text {
          font-size: 1.4rem;
          font-weight: bold;
          padding-top: 12px;
        }
      }

      @include mixin.middle {
        max-width: 160px;
      }
    }

    .brand__title {
      color: #fff;
      font-size: 1.2rem;
      line-height: 1.6em;
      white-space: nowrap;
      margin-left: 5px;
    }
  }

  // jsで制御
  // &.add-bk-color {
  //   background-color: rgba(0, 0, 0, 0.5);
  //   transition: 0.2s;
  // }
}

.globalnav {
  &-list {
    display: flex;
    align-items: center;
  }

  &__item {
    line-height: 1;

    @include mixin.pc {
      border-right: 1px solid #fff;

      &:last-of-type {
        border-right: none;
      }
    }

    @include mixin.middle {
      width: 100%;
      border-bottom: 1px solid rgba(255, 255, 255, 0.25);
      position: relative;

      &:last-of-type {
        border-bottom: none;
      }

      // SPのみ >
      &::after {
        position: absolute;
        margin: auto;
        content: "";
        vertical-align: middle;
        width: 9px;
        height: 9px;
        border-top: 1px solid #fff;
        border-right: 1px solid #fff;
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        right: 15px;
      }
    }

    a {
      padding: 5px 28px 6px;
      display: inline-block;
      line-height: 1;

      @include mixin.middle {
        padding-inline: 20px;
        padding-top: 25px;
        padding-bottom: 25px;
        width: 100%;
      }
    }
  }

  @include mixin.middle {
    /* メニューコンテナ全体のスタイル */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &-list {
      flex-direction: column;
      margin-top: 70px;
    }

    &-inner {
      position: fixed;
      top: -100%;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      transition: 0.3s;
      z-index: 1;
      overflow-y: auto;
    }
  }
}

// ハンバーガーメニュー
@include mixin.middle {
  .nav-button {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 2;
  }

  .nav-bar {
    display: block;
    width: 26px;
    height: 1px;
    margin: 7px 0;
    background-color: #fff;
    transition: 0.3s;
  }

  // ハンバーガーメニューのアニメーション
  #nav-toggle:checked+.nav-button .nav-bar:nth-of-type(1) {
    transform: rotate(45deg) translate(6px, 2px);
  }

  #nav-toggle:checked+.nav-button .nav-bar:nth-of-type(2) {
    opacity: 0;
  }

  #nav-toggle:checked+.nav-button .nav-bar:nth-of-type(3) {
    transform: rotate(-45deg) translate(9px, -6px);
  }

  /* メニュートグルのスタイル */
  #nav-toggle {
    display: none;
  }

  /* メニュートグルがチェックされた場合のメニューの表示アニメーション */
  #nav-toggle:checked~.globalnav-inner {
    top: 0;
    height: fit-content;
  }
}

// aos.js fade調整
$aos-distance: 20px !important;

// btn
.simple-btn {
  display: block;
  border-bottom: 1px solid #fff;
  padding: 25px 30px 25px 15px;
  position: relative;
  width: fit-content;
  margin-inline: auto;
  line-height: 1;
  margin-top: 50px;

  &::after {
    position: absolute;
    margin: auto;
    content: "";
    vertical-align: middle;
    width: 11px;
    height: 11px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    right: 10px;
  }
}

// top, info
.section-info {
  @include mixin.sp {
    .row {
      padding-inline: 0;
    }
  }
}

.info {
  &-item {
    display: flex;
    align-items: center;
    gap: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    padding: 32px 60px;
    line-height: 1;
    position: relative;

    @include mixin.sp {
      padding-inline: 10px;
      padding-top: 20px;
      padding-bottom: 20px;
      flex-direction: column;
      gap: 15px;
      align-items: flex-start;
    }

    &::after {
      position: absolute;
      margin: auto;
      content: "";
      vertical-align: middle;
      width: 11px;
      height: 11px;
      border-top: 1px solid #fff;
      border-right: 1px solid #fff;
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
      right: 50px;

      @include mixin.sp {
        right: 15px;
      }
    }
  }

  &__title {
    @include mixin.sp {
      font-size: 1.4rem;
    }
  }

  &__date {
    font-size: 1.8rem;

    @include mixin.sp {
      font-size: 1.5rem;
    }
  }

}

// ページネーション
.pagination {
  margin-top: 100px;
  display: flex;
  gap: 10px;
  justify-content: center;

  span,
  a {
    display: inline-block;
    line-height: 1;
    padding: 15px 20px;
  }

  .page-numbers:not(.prev, .next) {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #fff;
    border-radius: 5px;
  }

  .page-numbers.dots {
    color: #fff;
  }

  .page-numbers.current {
    background-color: #fff;
    color: #282828;
    font-weight: bold;
    padding-inline: 18px;
  }

  @include mixin.pc {

    .prev,
    .next {
      font-size: 80%;
      padding: 17px;
    }
  }

  @include mixin.sp {
    .page-numbers {
      display: none;
    }

    .prev,
    .next {
      display: inline-block;
      width: 45%;
    }
  }
}


// etc common
.caution {
  color: #ffff00;
}

// 商品一覧
.item {

  &-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 40px;

    @include mixin.middle {
      gap: 20px;
    }

    @include mixin.sp {
      gap: 100px;
      flex-direction: column;
    }

    >a {
      max-width: 30.25%;
      width: 100%;

      @include mixin.sp {
        max-width: 100%;
      }
    }
  }

  &__code {
    margin-top: 8px;
    font-feature-settings: normal;
  }

  &-price {

    text-align: right;

    .number {
      font-weight: bold;
      font-size: 2.4rem;
    }
  }

  &__img {
    img {
      aspect-ratio: 1;
      object-fit: cover;
      width: 100%;

      @include mixin.sp {
        aspect-ratio: 5 / 3;
      }
    }
  }

  &__title {
    margin-top: 8px;
    line-height: 1.5;
    font-size: 1.6rem;
  }

  // ソート機能用form
  &-sort {
    input[type=radio] {
      display: none;
    }

    select {
      background: #fff;
      padding: 3px 10px;
    }

    label:has(input),
    select {
      cursor: pointer;
    }
  }

  .sort-order {
    display: flex;
    gap: 15px;
    margin-top: 20px;

    @include mixin.sp {
      flex-direction: column;
    }

    label {
      text-decoration: underline;
      text-underline-offset: 7px;

      &:hover {
        opacity: 0.7;
      }

      @include mixin.sp {
        padding-left: 1em;

      }
    }
  }

  .sort-display {
    margin-top: 20px;
  }






}