@charset "UTF-8";

// @import 'mixin';
@use 'mixin' as mixin;

.is-contact {}

.contact {
  padding-top: 80px;

  &-texts {
    margin-top: 30px;
  }

  &__text {
    .num {
      font-weight: bold;
      font-size: 3.4rem;
      padding-left: 12px;
    }

    &:has(.num) {
      text-align: center;
    }
  }

  &__text+&__text {
    margin-top: 15px;
  }

  &-form {
    margin-top: 40px;
    margin-inline: auto;
    width: 100%;
  }

  input {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    background-color: #fff;
    line-height: 1;
  }

  textarea {
    width: 100%;
    padding: 10px 5px;
    border-radius: 3px;
    background-color: #fff;
  }

  input[type="submit"] {
    color: #fff;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    border: 1px solid #fff;
    cursor: pointer;
    padding: 19px 35px 21px 28px;
    margin-inline: auto;
    display: block;

    @include mixin.pc {
      &:hover {
        opacity: 0.7;
        transition: 0.3s;
      }
    }

    @include mixin.sp {
      width: 100%;
    }
  }

  .wpcf7-not-valid-tip {
    font-size: 1.7rem;
    display: inline-block;
    padding-top: 6px;
  }

  .wpcf7-response-output {
    font-size: 2.0rem;
    color: red;
    padding: 10px 10px 15px;
  }

  .wpcf7 form.sent .wpcf7-response-output {
    border: none;
    background-color: #fff;
    color: #46b450;
  }

  .submit-wrap {
    position: relative;
    width: fit-content;
    margin-inline: auto;
    margin-top: 40px;

    &::after {
      position: absolute;
      margin: auto;
      content: "";
      vertical-align: middle;
      width: 11px;
      height: 11px;
      border-top: 1px solid #fff;
      border-right: 1px solid #fff;
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
      right: 15px;
    }
  }

  .wpcf7-spinner {
    display: none;
  }

}

.form {

  &__th,
  &__td {
    @include mixin.sp {
      display: block;
    }
  }

  &__th {

    // 必須
    .required {
      line-height: 1;
      padding: 4px 5px 5px;
      display: inline-block;
      border-radius: 3px;
      font-size: 1.3rem;
      font-weight: bold;
      margin-left: 10px;
      letter-spacing: 1px;
      background-color: #666;
      color: #fff;
    }

    font-weight: normal;
    text-align: right;

    @include mixin.sp {
      text-align: left;
    }

    vertical-align: top;
    padding-top: 35px;
  }

  &__td {
    padding-top: 30px;

    @include mixin.sp {
      padding-top: 8px;
    }
  }
}