@charset "UTF-8";
// @import 'mixin';
@use 'mixin' as mixin;

.is-info {}

.section-info {
  @include mixin.middle {
    padding-inline: 10px;
  }
}

.info {
  padding-top: 50px;

  &-list {
    margin-top: 40px;
  }

  &__content {
    padding-top: 30px;
  }

  // 以下詳細ページ用
  .screen-reader-text {
    display: none;
  }

  // 前後記事へのリンク
  // 自動で付与されるclass
  .nav-links {
    display: flex;

    @include mixin.sp {
      flex-direction: column;
    }

    justify-content: space-between;
    padding-top: 50px;
  }

  .nav-next,
  .nav-previous {
    position: relative;
    border-bottom: 1px solid #fff;
    width: fit-content;
  }

  .nav-next {
    @include mixin.sp {
      margin-right: 0;
      margin-left: auto;
    }
  }

  .nav-next a {
    padding: 15px 30px 15px 15px;
  }

  .nav-previous a {
    padding: 15px 15px 15px 30px;
  }

  .nav-next a,
  .nav-previous a {
    display: inline-block;

    @include mixin.sp {
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }

  .nav-previous::before,
  .nav-next::after {
    position: absolute;
    margin: auto;
    content: "";
    vertical-align: middle;
    width: 9px;
    height: 9px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    top: 50%;
  }

  .nav-previous::before {
    transform: translateY(-50%) rotate(-135deg);
    left: 10px;
  }

  .nav-next::after {
    transform: translateY(-50%) rotate(45deg);
    right: 10px;
  }


}