@charset "UTF-8";
// @import 'mixin';
@use 'mixin' as mixin;

.is-item {}

// 商品一覧 親(item top)
.category {
  display: flex;
  gap: 40px;

  @include mixin.sp {
    flex-direction: column;
  }


  &-left,
  &-right {
    @include mixin.pc {
      width: 50%;
    }
  }

  &-list {
    font-size: 2.2rem;
    transition: 0.3s;
  }

  &__name {
    width: 100%;
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    line-height: 1.3;
    padding: 30px 15px;
    transition: 0.3s;

    &:hover {
      background-color: rgba(255, 255, 255, 0.15);
    }
  }

  /* すべての階層リスト */
  &-level {
    list-style: none;
    padding-left: 1em;
    margin: 0;
    transition: 0.3s;
  }

  /* 子階層は非表示にする */
  &-item>&-level {
    display: none;
    transition: 0.3s;
    font-size: 1.8rem;
  }

  // v
  &__label,
  &__link {
    position: relative;

    &::after {
      position: absolute;
      margin: auto;
      content: "";
      vertical-align: middle;
      width: 11px;
      height: 11px;
      border-top: 1px solid #fff;
      border-right: 1px solid #fff;
      top: 50%;
      transform: translateY(-50%) rotate(135deg);
      right: 20px;
    }
  }

  &__link {
    width: 100%;
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);

    &::after {
      transform: translateY(-50%) rotate(45deg);
    }
  }

  /* ラベルの見た目 */
  &__label {
    cursor: pointer;
    display: block;
    font-weight: bold;
  }

  &-level .category__name {
    font-weight: normal;
  }
}

/* チェックされたら展開 */
.toggle-checkbox:checked~.category-level {
  display: block;
  transition: 0.3s;
}

.toggle-checkbox:checked~.category__label::after {
  transform: translateY(-50%) rotate(-45deg);
  transition: 0.3s;
}

// 商品詳細
.is-detail {
  .headline__title {
    font-size: 2.4rem;
    padding-inline: 10px;
  }
}

.detail {

  display: flex;
  gap: 40px;

  @include mixin.sp {
    flex-direction: column;
  }

  &-imgs,
  &-texts {
    @include mixin.pc {
      max-width: 50%;
      width: 100%;
    }
  }

  &__img {
    img {
      width: 100%;
    }
  }

  &__img-sub {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

    img {
      max-width: 30.5%;
      height: 100%;
      aspect-ratio: 1;
      object-fit: cover;
    }
  }

  &-table {
    margin-top: 20px;
    width: 100%;
  }

  &__th,
  &__td {
    padding: 10px 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  }

  &__th {
    font-weight: normal;
  }

  &__td .number {
    font-weight: bold;
    font-size: 2.4rem;
  }

  &-texts {
    padding-top: 20px;
  }

  &__title {
    letter-spacing: 4px;
  }

  &__content {
    padding: 15px 24px;
  }
}