@charset "UTF-8";
// @import 'mixin';
@use 'mixin' as mixin;

// 固定ページ全共通 topでも使用
.static {
  margin-top: 40px;

  .section .section {
    padding-top: 50px;
  }

  &-map {
    margin-top: 15px;

    iframe {
      max-height: 400px;
      width: 100%;
    }
  }

  &__title {
    font-size: 3rem;
    text-align: center;
  }

  &__sub-title {
    font-size: 2.4rem;
  }

  &__title+&__sub-title {
    margin-top: 20px;
  }

  &__title-h4 {
    font-size: 2rem;
  }

  &__title-h5 {
    font-size: 1.8rem;
  }

  &__title-h6 {
    font-size: 1.6rem;
    font-weight: bold;
  }

  &__text {
    font-style: normal;
    margin-top: 10px;

    a {
      text-decoration: underline;
      text-underline-offset: 7px;

      padding-top: 10px;
      display: inline-block;
    }

    .tel {
      font-weight: bold;
      text-decoration: none;
    }
  }

  &__text+&__text {
    margin-top: 20px;
  }

  .group-wrap {
    margin-top: 30px;
  }

  &-list {
    margin-top: 20px;
  }

  .caution+&-list {
    margin-top: 10px;
  }

  &__item {
    text-indent: -1em;
    margin-left: 1em;
  }

  &-table+&-table {
    margin-top: 20px;
  }

  &-table {
    border-collapse: collapse;
    margin-top: 15px;
  }

  &__th,
  &__td {
    padding: 15px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  }

  &__th {
    background-color: rgba(255, 255, 255, 0.15);
    text-align: left;
  }

  &__td {}


  // 以下edit用
  &.edit {
    a {
      text-decoration: underline;
      text-underline-offset: 7px;
      line-height: 2.2;
      color: inherit;
      text-decoration-color: inherit;
    }

    hr {
      margin-top: 30px;
      margin-bottom: 30px;
      border-color: rgba(255, 255, 255, 0.25);
    }

    p+p,
    li+li {
      margin-top: 15px;
    }

    li:has(li)+li {
      margin-top: 20px;
    }

    b,
    strong {
      font-weight: bold;
    }
  }

  .has-text-align-center {
    text-align: center;
  }

  .wp-block-heading+p {
    padding-top: 10px;
  }

  .wp-block-heading+.wp-block-heading {
    padding-top: 15px;
  }

  h2.wp-block-heading {
    font-size: 3rem;
  }

  h3.wp-block-heading {
    font-size: 2.4rem;
  }

  h4.wp-block-heading {
    font-size: 2rem;
  }

  // 以下editで標準のclass
  .has-text-align-right {
    text-align: right;
  }

  .alignleft {
    margin-left: 0;
  }

  .aligncenter {
    margin-inline: auto;
  }

  .alignright {
    margin-right: 0;
  }

  // ul ol 共通.wp-block-list

  ul.wp-block-list {
    list-style: disc;
  }

  ul.wp-block-list li {
    margin-left: 1.5em;
  }

  ol.wp-block-list {
    margin-top: 15px;
    counter-reset: number;
    position: relative;
  }

  ol.wp-block-list li {
    padding-left: 1.5em;
  }

  ol.wp-block-list li::before {
    position: absolute;
    counter-increment: number;
    content: counter(number);
    display: inline-block;
    font-weight: bold;
    left: 0;
    text-align: center;
    font-size: 120%;
    margin-top: -3px;
  }

  ol.wp-block-list li li::before {
    content: none;
  }

  ol.wp-block-list li li {
    margin-left: 1.5em;
    padding-left: 0;
    list-style: disc;
  }

  // tableを囲うfigure
  .wp-block-table th,
  .wp-block-table td {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    padding: 22px 20px;
  }

  // th無い td strongで代用
  .wp-block-table td strong {
    white-space: nowrap;
  }

  .wp-block-columns {
    display: flex;
    justify-content: center;
  }








}


// access
.is-access {}


// order
.is-order {}


// ご利用ガイド
.is-guide {}