@charset "UTF-8";
// @import 'mixin';
@use 'mixin' as mixin;

.is-top {}

// swiper
.section-swiper {
  // @include mixin.sp {
  margin-top: 80px;
  // }
}

.swiper {
  img {
    width: auto;
  }

  &-pagination-bullet {
    background-color: #ccc;
  }

  &-pagination-bullet-active {
    background-color: #fff;
  }

  &-button-next,
  &-button-prev {
    color: #000;
  }

  @include mixin.pc {
    &-button-next {
      right: var(--swiper-navigation-sides-offset, 60px);
    }

    &-button-prev {
      left: var(--swiper-navigation-sides-offset, 60px);
    }
  }

  // ・・・
  &-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 8px) !important;
  }

  &-slide {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// 自由記述部分
.static {
  @include mixin.pc {
    font-size: 110%;
  }

  // @include mixin.sp {
  //   font-size: 95%;
  // }
}

.access {
  padding-top: 30px;

  &-map iframe {
    max-height: 400px;
    width: 100%;
  }

  &__title {
    font-size: 2.4rem;
    font-weight: bold;
    margin-top: 30px;
  }

  &__text {
    margin-top: 20px;
  }
}

// jsカレンダー
.calendar {
  padding-top: 30px;

  &-wrapper {
    display: flex;

    @include mixin.middle {
      gap: 20px;
      flex-direction: column;
    }
  }

  // event-calendarの場合
  &-sel {
    flex: 1;
    min-width: 0;

    @include mixin.sp {
      width: 100%;
    }

    @include mixin.pc {
      // padding-inline: 22px;

      &:first-of-type {
        border-right: 1px solid rgba(255, 255, 255, 0.15);
        padding-right: 22px;
      }

      &:last-of-type {
        padding-left: 22px;
      }
    }
  }

  .ec {
    width: 100% !important;
    position: relative;
  }

  .ec-prev,
  .ec-next {
    position: absolute;
  }

  .ec-prev {
    left: 15px;
  }

  .ec-next {
    right: 15px;
  }

  @include mixin.sp {
    .ec-prev {
      left: 10px;
    }

    .ec-next {
      right: 10px;
    }
  }

  .ec-prev:after,
  .ec-next:after {
    width: 14px !important;
    height: 14px !important;
    border-top-width: 1px !important;
    border-right-width: 1px !important;
  }

  .ec-day.ec-today {
    background-color: initial;
  }

  .ec-day:has(.ec-event):not(.ec-other-month) {
    background-color: rgba(255, 255, 255, 0.15);
  }

  .ec-event {
    background-color: initial;
    box-shadow: none;
  }

  .ec-days,
  .ec-day {
    border-style: none;
  }

  .ec-button.ec-today,
  .ec-events,
  .ec-day-foot {
    display: none;
  }

  .ec-title {
    padding-top: 13px;
  }


  div:has(.ec-title) {
    @include mixin.pc {
      margin-inline: auto;
    }

    @include mixin.middle {
      width: 100%;
      text-align: center;
    }
  }

  .ec-day {
    min-height: 45px !important;
  }

  .ec-day span {
    font-size: 1.5rem;
  }

  .ec-day-head {
    text-align: center !important;
    font-size: 1.8rem;
  }

  .ec-other-month {
    color: rgba(255, 255, 255, 0.15);
  }

  .ec-button:hover {
    background-color: initial !important;
  }

  .ec-header {
    padding-top: 15px;
  }

  // .fc-scrollgrid,
  // .fc-theme-standard td,
  // .fc-theme-standard th
  .ec-header,
  .ec-all-day,
  .ec-body,
  .ec-button,
  .ec-days,
  .ec-day,
  .ec-list .ec-day-head {
    border: none;
  }

  // FullCalendarの場合
  // .fc-day:has(.fc-event-title-container) {
  //   background-color: rgba(255, 255, 255, 0.25);
  // }

  // .fc-h-event {
  //   background-color: initial;
  //   border: none;
  // }

  // .fc-today-button {
  //   display: none;
  // }
  // .fc-scroller-harness,
  // .fc-scroller {
  //   overflow: auto !important;
  // }

  // .fc {
  //   overflow: inherit;
  // }
  // event-calendarとほぼ変わらず没
}

// 外部リンク集
.section-links {
  @include mixin.sp {
    .row {
      padding-inline: 0;
    }
  }
}

.links {
  &-list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;

    @include mixin.middle {
      flex-wrap: wrap;
    }
  }

  &__item {
    line-height: 1;

    // @include mixin.pc {
    border-right: 1px solid #fff;

    &:last-of-type {
      border-right: none;
    }

    // }

    @include mixin.sp {
      border-right: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.25);
      position: relative;
      width: 100%;

      &:after {
        position: absolute;
        content: "";
        display: inline-block;
        background-image: url(../img/common/ex-link.svg);
        background-repeat: no-repeat;
        background-position: right;
        width: 12px;
        height: 12px;
        top: 50%;
        transform: translateY(-50%);
        right: 15px;
      }
    }


    a {
      padding: 5px 28px 6px;

      @include mixin.middle {
        padding-top: 10px;
        padding-bottom: 10px;
      }

      display: inline-block;
      line-height: 1;

      @include mixin.sp {
        padding-inline: 20px;
        padding-top: 25px;
        padding-bottom: 25px;
        width: 100%;
        font-size: 1.4rem;
      }
    }


  }

}