@charset "UTF-8";
body {
  background-color: #020307;
  color: #fff;
}

@media (min-width: 941px) {
  a:hover {
    opacity: 0.7;
    transition: 0.3s;
  }
  .middle,
  .sp {
    display: none !important;
  }
}
@media (max-width: 940px) {
  .pc {
    display: none !important;
  }
}
.flex {
  display: flex;
}

.site-main {
  padding-bottom: 100px;
}

.section:not(.section-hero) + .section {
  padding-top: 100px;
}

.headline__title {
  background-color: rgba(255, 255, 255, 0.15);
  text-align: center;
  font-size: 3.8rem;
  padding: 32px 0 30px;
  line-height: 1.4;
  letter-spacing: 5px;
}
@media (max-width: 940px) {
  .headline__title {
    padding-inline: 10px;
  }
}

.lower {
  padding-top: 100px;
}
.lower .headline__title {
  margin-top: 10px;
}

/*============================
パンくず
============================*/
.breadcrumbs {
  padding-left: 30px;
  font-size: 12px;
}
.breadcrumbs ol {
  display: inline-block;
}
.breadcrumbs ol li {
  display: inline-block;
  vertical-align: middle;
  padding-top: 1px;
  color: #fff;
  letter-spacing: 0.1em;
}
.breadcrumbs ol li:after {
  content: ">";
  padding: 4px 4px 0;
  display: inline-block;
  vertical-align: top;
}
.breadcrumbs ol li:last-of-type:after {
  content: "";
}
.breadcrumbs ol li a {
  color: #fff;
}
.breadcrumbs ol li:last-of-type a span {
  text-decoration: none;
}
.breadcrumbs ol li a span {
  display: inline-block;
  vertical-align: middle;
  padding-top: 1px;
  text-decoration: underline;
  text-underline-offset: 5px;
  font-weight: 300;
  font-style: normal;
  white-space: nowrap;
  letter-spacing: 0.1em;
}

/*============================
#footer
============================*/
@media (max-width: 610px) {
  .site-footer .row {
    padding-inline: 0;
  }
}

.footer {
  padding: 50px 0 50px;
}
.footer-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
}
@media (max-width: 940px) {
  .footer-info {
    flex-direction: column;
    gap: 15px;
  }
}
.footer__logo {
  max-width: 295px;
}
.footer__name {
  font-weight: bold;
  font-size: 1.8rem;
  margin-top: 10px;
  display: block;
}
.footer .address {
  font-style: normal;
  margin-top: 5px;
}
@media (max-width: 610px) {
  .footer .address {
    margin-top: 10px;
  }
}
.footer-list {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}
@media (max-width: 610px) {
  .footer-list {
    flex-wrap: wrap;
  }
}
.footer-list + .footer-list {
  padding-top: 20px;
}
@media (max-width: 610px) {
  .footer-list + .footer-list {
    padding-top: 0;
  }
}
.footer__item {
  display: inline-block;
  font-size: 1.4rem;
  border-right: 1px solid #fff;
}
.footer__item:last-of-type {
  border-right: none;
}
@media (max-width: 610px) {
  .footer__item {
    border-right: none;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    position: relative;
  }
  .footer__item:last-of-type {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  }
  .footer__item::after {
    position: absolute;
    margin: auto;
    content: "";
    vertical-align: middle;
    width: 9px;
    height: 9px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    right: 15px;
  }
}
.footer__item a {
  display: block;
  padding: 5px 15px;
  line-height: 1;
}
@media (max-width: 610px) {
  .footer__item a {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media (max-width: 610px) {
  .footer__item {
    width: 100%;
  }
}
@media (max-width: 610px) {
  .footer-list:first-of-type .footer__item:last-of-type {
    border-bottom: none;
  }
}
.footer .copy {
  font-size: 1.1rem;
  text-align: center;
  padding-top: 50px;
}

.page_top {
  cursor: pointer;
  transition: opacity 0.5s ease-out;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: fixed;
  bottom: 10%;
  right: 3%;
  display: inline-block;
  width: 60px;
  height: 60px;
  border: 1px solid #fff;
  border-radius: 50%;
}
.page_top::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  content: "";
  vertical-align: middle;
  left: 23px;
  top: 3px;
  width: 11px;
  height: 11px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(-45deg);
}
.page_top.show {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
@media (min-width: 941px) {
  .page_top:hover {
    opacity: 0.7;
    transition: 0.3s;
  }
}

/*__ header _______________________*/
.site-header {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 2;
  width: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 15px;
  padding-bottom: 15px;
}
@media (max-width: 940px) {
  .site-header {
    padding-top: 10px;
  }
}
.site-header .masthead {
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  padding-inline: 20px;
  align-items: center;
}
.site-header .masthead .brand-logo {
  max-width: 180px;
  width: 100%;
  position: relative;
  z-index: 2;
  line-height: 1;
}
@media (min-width: 941px) {
  .site-header .masthead .brand-logo__text {
    font-size: 1.4rem;
    font-weight: bold;
    padding-top: 12px;
  }
}
@media (max-width: 940px) {
  .site-header .masthead .brand-logo {
    max-width: 160px;
  }
}
.site-header .masthead .brand__title {
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.6em;
  white-space: nowrap;
  margin-left: 5px;
}

.globalnav-list {
  display: flex;
  align-items: center;
}
.globalnav__item {
  line-height: 1;
}
@media (min-width: 941px) {
  .globalnav__item {
    border-right: 1px solid #fff;
  }
  .globalnav__item:last-of-type {
    border-right: none;
  }
}
@media (max-width: 940px) {
  .globalnav__item {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    position: relative;
  }
  .globalnav__item:last-of-type {
    border-bottom: none;
  }
  .globalnav__item::after {
    position: absolute;
    margin: auto;
    content: "";
    vertical-align: middle;
    width: 9px;
    height: 9px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    right: 15px;
  }
}
.globalnav__item a {
  padding: 5px 28px 6px;
  display: inline-block;
  line-height: 1;
}
@media (max-width: 940px) {
  .globalnav__item a {
    padding-inline: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
  }
}
@media (max-width: 940px) {
  .globalnav {
    /* メニューコンテナ全体のスタイル */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .globalnav-list {
    flex-direction: column;
    margin-top: 70px;
  }
  .globalnav-inner {
    position: fixed;
    top: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    transition: 0.3s;
    z-index: 1;
    overflow-y: auto;
  }
}

@media (max-width: 940px) {
  .nav-button {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 2;
  }
  .nav-bar {
    display: block;
    width: 26px;
    height: 1px;
    margin: 7px 0;
    background-color: #fff;
    transition: 0.3s;
  }
  #nav-toggle:checked + .nav-button .nav-bar:nth-of-type(1) {
    transform: rotate(45deg) translate(6px, 2px);
  }
  #nav-toggle:checked + .nav-button .nav-bar:nth-of-type(2) {
    opacity: 0;
  }
  #nav-toggle:checked + .nav-button .nav-bar:nth-of-type(3) {
    transform: rotate(-45deg) translate(9px, -6px);
  }
  /* メニュートグルのスタイル */
  #nav-toggle {
    display: none;
  }
  /* メニュートグルがチェックされた場合のメニューの表示アニメーション */
  #nav-toggle:checked ~ .globalnav-inner {
    top: 0;
    height: fit-content;
  }
}
.simple-btn {
  display: block;
  border-bottom: 1px solid #fff;
  padding: 25px 30px 25px 15px;
  position: relative;
  width: fit-content;
  margin-inline: auto;
  line-height: 1;
  margin-top: 50px;
}
.simple-btn::after {
  position: absolute;
  margin: auto;
  content: "";
  vertical-align: middle;
  width: 11px;
  height: 11px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  right: 10px;
}

@media (max-width: 610px) {
  .section-info .row {
    padding-inline: 0;
  }
}

.info-item {
  display: flex;
  align-items: center;
  gap: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  padding: 32px 60px;
  line-height: 1;
  position: relative;
}
@media (max-width: 610px) {
  .info-item {
    padding-inline: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
  }
}
.info-item::after {
  position: absolute;
  margin: auto;
  content: "";
  vertical-align: middle;
  width: 11px;
  height: 11px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  right: 50px;
}
@media (max-width: 610px) {
  .info-item::after {
    right: 15px;
  }
}
@media (max-width: 610px) {
  .info__title {
    font-size: 1.4rem;
  }
}
.info__date {
  font-size: 1.8rem;
}
@media (max-width: 610px) {
  .info__date {
    font-size: 1.5rem;
  }
}

.pagination {
  margin-top: 100px;
  display: flex;
  gap: 10px;
  justify-content: center;
}
.pagination span,
.pagination a {
  display: inline-block;
  line-height: 1;
  padding: 15px 20px;
}
.pagination .page-numbers:not(.prev, .next) {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid #fff;
  border-radius: 5px;
}
.pagination .page-numbers.dots {
  color: #fff;
}
.pagination .page-numbers.current {
  background-color: #fff;
  color: #282828;
  font-weight: bold;
  padding-inline: 18px;
}
@media (min-width: 941px) {
  .pagination .prev,
  .pagination .next {
    font-size: 80%;
    padding: 17px;
  }
}
@media (max-width: 610px) {
  .pagination .page-numbers {
    display: none;
  }
  .pagination .prev,
  .pagination .next {
    display: inline-block;
    width: 45%;
  }
}

.caution {
  color: #ffff00;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  gap: 40px;
}
@media (max-width: 940px) {
  .item-list {
    gap: 20px;
  }
}
@media (max-width: 610px) {
  .item-list {
    gap: 100px;
    flex-direction: column;
  }
}
.item-list > a {
  max-width: 30.25%;
  width: 100%;
}
@media (max-width: 610px) {
  .item-list > a {
    max-width: 100%;
  }
}
.item__code {
  margin-top: 8px;
  font-feature-settings: normal;
}
.item-price {
  text-align: right;
}
.item-price .number {
  font-weight: bold;
  font-size: 2.4rem;
}
.item__img img {
  aspect-ratio: 1;
  object-fit: cover;
  width: 100%;
}
@media (max-width: 610px) {
  .item__img img {
    aspect-ratio: 5/3;
  }
}
.item__title {
  margin-top: 8px;
  line-height: 1.5;
  font-size: 1.6rem;
}
.item-sort input[type=radio] {
  display: none;
}
.item-sort select {
  background: #fff;
  padding: 3px 10px;
}
.item-sort label:has(input),
.item-sort select {
  cursor: pointer;
}
.item .sort-order {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}
@media (max-width: 610px) {
  .item .sort-order {
    flex-direction: column;
  }
}
.item .sort-order label {
  text-decoration: underline;
  text-underline-offset: 7px;
}
.item .sort-order label:hover {
  opacity: 0.7;
}
@media (max-width: 610px) {
  .item .sort-order label {
    padding-left: 1em;
  }
}
.item .sort-display {
  margin-top: 20px;
}/*# sourceMappingURL=common.css.map */