.static {
  margin-top: 40px;
}
.static .section .section {
  padding-top: 50px;
}
.static-map {
  margin-top: 15px;
}
.static-map iframe {
  max-height: 400px;
  width: 100%;
}
.static__title {
  font-size: 3rem;
  text-align: center;
}
.static__sub-title {
  font-size: 2.4rem;
}
.static__title + .static__sub-title {
  margin-top: 20px;
}
.static__title-h4 {
  font-size: 2rem;
}
.static__title-h5 {
  font-size: 1.8rem;
}
.static__title-h6 {
  font-size: 1.6rem;
  font-weight: bold;
}
.static__text {
  font-style: normal;
  margin-top: 10px;
}
.static__text a {
  text-decoration: underline;
  text-underline-offset: 7px;
  padding-top: 10px;
  display: inline-block;
}
.static__text .tel {
  font-weight: bold;
  text-decoration: none;
}
.static__text + .static__text {
  margin-top: 20px;
}
.static .group-wrap {
  margin-top: 30px;
}
.static-list {
  margin-top: 20px;
}
.caution + .static-list {
  margin-top: 10px;
}
.static__item {
  text-indent: -1em;
  margin-left: 1em;
}
.static-table + .static-table {
  margin-top: 20px;
}
.static-table {
  border-collapse: collapse;
  margin-top: 15px;
}
.static__th, .static__td {
  padding: 15px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
.static__th {
  background-color: rgba(255, 255, 255, 0.15);
  text-align: left;
}
.static.edit a {
  text-decoration: underline;
  text-underline-offset: 7px;
  line-height: 2.2;
  color: inherit;
  text-decoration-color: inherit;
}
.static.edit hr {
  margin-top: 30px;
  margin-bottom: 30px;
  border-color: rgba(255, 255, 255, 0.25);
}
.static.edit p + p,
.static.edit li + li {
  margin-top: 15px;
}
.static.edit li:has(li) + li {
  margin-top: 20px;
}
.static.edit b,
.static.edit strong {
  font-weight: bold;
}
.static .has-text-align-center {
  text-align: center;
}
.static .wp-block-heading + p {
  padding-top: 10px;
}
.static .wp-block-heading + .wp-block-heading {
  padding-top: 15px;
}
.static h2.wp-block-heading {
  font-size: 3rem;
}
.static h3.wp-block-heading {
  font-size: 2.4rem;
}
.static h4.wp-block-heading {
  font-size: 2rem;
}
.static .has-text-align-right {
  text-align: right;
}
.static .alignleft {
  margin-left: 0;
}
.static .aligncenter {
  margin-inline: auto;
}
.static .alignright {
  margin-right: 0;
}
.static ul.wp-block-list {
  list-style: disc;
}
.static ul.wp-block-list li {
  margin-left: 1.5em;
}
.static ol.wp-block-list {
  margin-top: 15px;
  counter-reset: number;
  position: relative;
}
.static ol.wp-block-list li {
  padding-left: 1.5em;
}
.static ol.wp-block-list li::before {
  position: absolute;
  counter-increment: number;
  content: counter(number);
  display: inline-block;
  font-weight: bold;
  left: 0;
  text-align: center;
  font-size: 120%;
  margin-top: -3px;
}
.static ol.wp-block-list li li::before {
  content: none;
}
.static ol.wp-block-list li li {
  margin-left: 1.5em;
  padding-left: 0;
  list-style: disc;
}
.static .wp-block-table th,
.static .wp-block-table td {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  padding: 22px 20px;
}
.static .wp-block-table td strong {
  white-space: nowrap;
}
.static .wp-block-columns {
  display: flex;
  justify-content: center;
}/*# sourceMappingURL=static.css.map */