.section-swiper {
  margin-top: 80px;
}

.swiper img {
  width: auto;
}
.swiper-pagination-bullet {
  background-color: #ccc;
}
.swiper-pagination-bullet-active {
  background-color: #fff;
}
.swiper-button-next, .swiper-button-prev {
  color: #000;
}
@media (min-width: 941px) {
  .swiper-button-next {
    right: var(--swiper-navigation-sides-offset, 60px);
  }
  .swiper-button-prev {
    left: var(--swiper-navigation-sides-offset, 60px);
  }
}
.swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 8px) !important;
}
.swiper-slide {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 941px) {
  .static {
    font-size: 110%;
  }
}

.access {
  padding-top: 30px;
}
.access-map iframe {
  max-height: 400px;
  width: 100%;
}
.access__title {
  font-size: 2.4rem;
  font-weight: bold;
  margin-top: 30px;
}
.access__text {
  margin-top: 20px;
}

.calendar {
  padding-top: 30px;
}
.calendar-wrapper {
  display: flex;
}
@media (max-width: 940px) {
  .calendar-wrapper {
    gap: 20px;
    flex-direction: column;
  }
}
.calendar-sel {
  flex: 1;
  min-width: 0;
}
@media (max-width: 610px) {
  .calendar-sel {
    width: 100%;
  }
}
@media (min-width: 941px) {
  .calendar-sel:first-of-type {
    border-right: 1px solid rgba(255, 255, 255, 0.15);
    padding-right: 22px;
  }
  .calendar-sel:last-of-type {
    padding-left: 22px;
  }
}
.calendar .ec {
  width: 100% !important;
  position: relative;
}
.calendar .ec-prev,
.calendar .ec-next {
  position: absolute;
}
.calendar .ec-prev {
  left: 15px;
}
.calendar .ec-next {
  right: 15px;
}
@media (max-width: 610px) {
  .calendar .ec-prev {
    left: 10px;
  }
  .calendar .ec-next {
    right: 10px;
  }
}
.calendar .ec-prev:after,
.calendar .ec-next:after {
  width: 14px !important;
  height: 14px !important;
  border-top-width: 1px !important;
  border-right-width: 1px !important;
}
.calendar .ec-day.ec-today {
  background-color: initial;
}
.calendar .ec-day:has(.ec-event):not(.ec-other-month) {
  background-color: rgba(255, 255, 255, 0.15);
}
.calendar .ec-event {
  background-color: initial;
  box-shadow: none;
}
.calendar .ec-days,
.calendar .ec-day {
  border-style: none;
}
.calendar .ec-button.ec-today,
.calendar .ec-events,
.calendar .ec-day-foot {
  display: none;
}
.calendar .ec-title {
  padding-top: 13px;
}
@media (min-width: 941px) {
  .calendar div:has(.ec-title) {
    margin-inline: auto;
  }
}
@media (max-width: 940px) {
  .calendar div:has(.ec-title) {
    width: 100%;
    text-align: center;
  }
}
.calendar .ec-day {
  min-height: 45px !important;
}
.calendar .ec-day span {
  font-size: 1.5rem;
}
.calendar .ec-day-head {
  text-align: center !important;
  font-size: 1.8rem;
}
.calendar .ec-other-month {
  color: rgba(255, 255, 255, 0.15);
}
.calendar .ec-button:hover {
  background-color: initial !important;
}
.calendar .ec-header {
  padding-top: 15px;
}
.calendar .ec-header,
.calendar .ec-all-day,
.calendar .ec-body,
.calendar .ec-button,
.calendar .ec-days,
.calendar .ec-day,
.calendar .ec-list .ec-day-head {
  border: none;
}

@media (max-width: 610px) {
  .section-links .row {
    padding-inline: 0;
  }
}

.links-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}
@media (max-width: 940px) {
  .links-list {
    flex-wrap: wrap;
  }
}
.links__item {
  line-height: 1;
  border-right: 1px solid #fff;
}
.links__item:last-of-type {
  border-right: none;
}
@media (max-width: 610px) {
  .links__item {
    border-right: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    position: relative;
    width: 100%;
  }
  .links__item:after {
    position: absolute;
    content: "";
    display: inline-block;
    background-image: url(../img/common/ex-link.svg);
    background-repeat: no-repeat;
    background-position: right;
    width: 12px;
    height: 12px;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
  }
}
.links__item a {
  padding: 5px 28px 6px;
  display: inline-block;
  line-height: 1;
}
@media (max-width: 940px) {
  .links__item a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media (max-width: 610px) {
  .links__item a {
    padding-inline: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
    font-size: 1.4rem;
  }
}/*# sourceMappingURL=top.css.map */